.menu-btn {
    position: absolute;
    top: calc(100vh - 112px);
    right: 10px;
    border-radius: 7px;
    margin: 15px 10px;
    padding: 2px 2px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: rgba(4, 4, 4, 0.374);
}
.menu-btn:hover {
    background-color: rgb(255, 0, 106);
    cursor: pointer;
}
.menu-btn-border {
    border: 2px solid white;
    border-radius: 7px;
    padding: 0px 6px;
}

.menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
}